{ config, pkgs, ... }:

{
  imports =
    [
    ../hardware-configuration.nix
    ../modules
  ];

  xadetComputer = {
    type = "desktop";
    purposes = [ ];
  };

  system.stateVersion = "22.11";
}
