[global_config]
  always_split_with_profile = True
  title_font = Fira Code Light 10
  title_use_system_font = False
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
    font = Fira Code Light 10
    foreground_color = "#ffffff"
    scrollback_infinite = True
    use_system_font = False
  [[projector]]
    background_color = "#ffffff"
    cursor_color = "#aaaaaa"
    font = Fira Code Light 10
    foreground_color = "#000000"
    scrollback_infinite = True
    use_system_font = False
